
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Trang chủ</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Các chức năng</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            + Danh mục (Các trang ở màn hình chính)
        </div>
        <div class="card-body">
            + Role (Phân quyền Admin và Người dùng)
        </div>
        <div class="card-body">
            + Tin tức (News / Trang tin tức)
        </div>
        <div class="card-body">
            + Bài viết (Posts / Trang bài viết)
        </div>
        <div class="card-body">
            + Đơn hàng (Thông tin người dùng mua hàng Và mặc hàng được mua)
        </div>
        <div class="card-body">
            + Quản lý sản phẩm (Chứ Danh mục sản phẩm Và Sản phẩm)
        </div>
        <div class="card-body">
            + Cấu hình hệ thống
        </div>
        <div class="card-body">
            + Tài khoản (Chứa thông tin các tài khoản)
        </div>
        <div class="card-body">
            + Đăng xuất
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            ...
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->